<h1>New/Update Message Form</h1>

<div>
  <form action="" method="POST">
    <label for="title">Message Title</label>
    <input
      type="text"
      name="title"
      id="title"
      value="<%= message.title %>"
      placeholder="Title"
      required
    />
    <label for="content">Content</label>
    <input
      type="text"
      name="content"
      id="content"
      value="<%= message.content %>"
      placeholder="Your Content Here"
      required
    />
    <div class="hidden-elem">
      <input 
        type="text"
        name="user"
        id="user"
        value="<%= user._id %>"
      />
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
<% if (errors) { %>
  <ul>
    <% errors.forEach(error => { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>