<div class="message-form-cont">
  <form action="" method="POST" class="message-form">
    <div class="message-fields-cont">
      <label for="title">Message Title</label>
      <input
        type="text"
        name="title"
        id="title"
        class="message-field message-title-field"
        value="<%= message.title %>"
        placeholder="Title"
        required
      />
      <label for="content">Message Body</label>
      <textarea
        name="content"
        id="content"
        class="message-field message-content-field"
        placeholder="Your Content Here"
        required
      ><% if (message) { %><%= message.content %><% } %>
      </textarea>
    </div>
    <div class="hidden-elem">
      <input 
        type="text"
        name="user"
        id="user"
        value="<%= user._id %>"
      />
    </div>
    <div class="message-btn-cont">
      <button type="submit">Submit</button>
    </div>
  </form>
</div>
<% if (errors) { %>
  <ul>
    <% errors.forEach(error => { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>