<div class="nav-bar">
  <a href="/">Home</a>
  <% if (currentUser) { %>
    <a href="/log-out">Log Out</a>
  <% } else { %>
    <a href="/log-in">Log In</a>
  <% } %>
  <% if (!currentUser) { %>
    <a href="/sign-up">Sign Up</a> 
  <% } %>
  <% if(currentUser) { %>
    <% if (!currentUser.member) { %>
      <a href="/join-club">Join Club</a>
    <% } %>
  <% } %> 
  <% if(currentUser) { %>
    <% if (!currentUser.admin) { %>
      <a href="/become-admin">Become Admin</a>
    <% } %>
  <% } %> 
  <a href="/contact">Contact</a>
  <% if (currentUser) { %>
    <a href="/message/create">Add Message</a>
  <% } %>
  <a href="/messages">Message Board</a>
</div>