<% if (currentUser) { %>
  <h1>WELCOME BACK <%= currentUser.username %></h1>
<% } else { %>
  <div class="login-form-cont">
    <form action="/log-in" method="POST" class="log-in-form">
      <div class="login-fields-cont">
        <label for="username">Username</label>
        <input 
          type="text" 
          name="username"
          class="login-username login-field"
          placeholder="username" 
          required
        />
        <label for="password">Password</label>
        <input 
          type="password"
          name="password" 
          class="login-password login-field"
          required 
        />
      </div>
      <div class="login-btn-cont">
        <button>Log In</button>
      </div>
    </form>
  </div>
  <br>
<% } %>

<% if (errors) { %>
  <div class="error-cont">
    <ul class="error-list">
      <% errors.forEach(error => { %>
        <li class="error-list-item"><%= error.msg %></li>
      <% }) %>
    </ul>
  </div>
<% } %>