@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;500&display=swap");

/* Color Palette */
/* rgb(11, 38, 49) */
/* rgb(24, 68, 93) */
/* rgb(31, 119,153) */
/* rgb(4, 196, 217) */
/* rgb(121, 230, 242) */

* {
  box-sizing: border-box;
}
body {
  max-width: 100%;
  min-height: 100%;
  background-color: rgb(121, 230, 242);
}
.hidden-elem {
  display: none;
}
/***********/
/* Nav Bar */
/***********/
.nav-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.nav-bar a {
  color: rgb(24, 68, 93);
  text-decoration: none;
}
.nav-home-cont {
  margin: 0.3em 0.4em;
}
.nav-home-cont a {
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.3em;
}
.nav-home-cont:hover a {
  color: rgb(11, 38, 49);
}
.nav-login-cont {
  display: flex;
  margin: 0.3em 0.4em;
}
.login-item {
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.3em;
}
.login-item:hover a {
  color: rgb(11, 38, 49);
}
.space-span {
  margin-left: 0.5em;
}
/****************/
/* Sign Up Form */
/****************/
.signup-form-cont {
  width: 100%;
  display: flex;
  justify-content: center;
}
.sign-up-form {
  max-width: 75%;
  padding: 2em;
  border-radius: 10px;
  background-color: rgb(4, 196, 217);
  box-shadow: 0 0 5px 2px rgb(24, 68, 93);
}
.signup-fields-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signup-field {
  margin-bottom: 0.6em;
}
.icon-radio-cont {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0.5em 0;
}
.icon-radio-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
}
.icon-radio-img {
  height: 50px;
}
.radio-button {
  display: none;
}
.radio-button:checked + label {
  border-radius: 50px;
  box-shadow: 0px 0px 10px 2px rgb(31, 119, 153);
}
.signup-btn-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/***************/
/* Log In Form */
/***************/
.login-form-cont {
  width: 100%;
  display: flex;
  justify-content: center;
}
.log-in-form {
  max-width: 75%;
  padding: 2em;
  border-radius: 10px;
  background-color: rgb(4, 196, 217);
  box-shadow: 0 0 5px 2px rgb(24, 68, 93);
}
.login-fields-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-field {
  margin-bottom: 0.6em;
}
.login-btn-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*************/
/* Join Club */
/*************/
.join-club-cont {
  width: 100%;
  display: flex;
  justify-content: center;
}
.join-club-form {
  max-width: 75%;
  padding: 2em;
  border-radius: 10px;
  background-color: rgb(4, 196, 217);
  box-shadow: 0 0 5px 2px rgb(24, 68, 93);
}
.join-fields-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.join-field {
  margin-top: 0.2em;
  margin-bottom: 0.6em;
}
.join-btn-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/****************/
/* Message List */
/****************/
.message-board-cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mess-board-add {
  background-color: rgb(24, 68, 93);
  padding: 0.2em;
  border-radius: 4px;
}
.mess-board-add a {
  text-decoration: none;
  color: rgb(4, 196, 217);
}
.mess-board-add:hover {
  padding: 0.2em 0.4em;
  border-right: 2px solid rgb(11, 38, 49);
  border-left: 2px solid rgb(11, 38, 49);
  background-color: rgb(31, 119, 153);
  cursor: pointer;
}
.mess-board-add:hover a {
  color: rgb(121, 230, 242);
}
.message-card {
  width: 70%;
  max-width: 900px;
  min-height: 200px;
  max-height: 400px;
  margin: 0.5em 0;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(4, 196, 217);
  box-shadow: 0 0 5px 2px rgb(24, 68, 93);
}
.message-head {
  position: absolute;
  top: 0.2em;
  right: 0.2em;
  display: flex;
}
.message-btn {
  display: none;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  height: 20px;
}
.update-btn {
  margin-right: 0.2em;
}
.delete-btn {
  background: red;
  width: 20px;
}
.delete-btn:hover {
  background: rgba(255, 0, 0, 0.808);
}
.message-main {
  width: 100%;
  min-height: 150px;
  display: flex;
}
.message-user {
  width: 25%;
  min-width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.message-user-icon {
  height: 100px;
  margin-right: 0.5em;
  margin-bottom: 0.7em;
}
.message-text {
  font-family: "Kanit", sans-serif;
  padding-right: 1em;
  color: rgb(11, 38, 49);
}
.message-title {
  margin: 1% 0.5em 0.5em 0;
  font-weight: 500;
}
.message-content {
  font-weight: 300;
}
.message-date {
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
  font-style: italic;
}
.message-card:hover .message-head .message-delete-form .message-btn {
  display: flex;
  cursor: pointer;
}
.message-card:hover .message-head .message-update-form .message-btn {
  display: flex;
  cursor: pointer;
}
/******************/
/* Create Message */
/******************/
.message-form-cont {
  width: 100%;
  display: flex;
  justify-content: center;
}
.message-form {
  width: 75%;
  padding: 2em;
  border-radius: 10px;
  background-color: rgb(4, 196, 217);
  box-shadow: 0 0 5px 2px rgb(24, 68, 93);
}
.message-fields-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.message-field {
  margin-bottom: 0.6em;
}
.message-title-field {
  width: 75%;
  max-width: 800px;
}
.message-content-field {
  min-width: 80%;
  max-width: 90%;
  min-height: 5em;
  max-height: 300px;
}
.message-btn-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/****************/
/* Contact Info */
/****************/
.contact-info-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-link {
  text-decoration: none;
}
#github-contact,
#linkedin-contact,
#email-contact {
  height: 80px;
  margin-bottom: 0.5em;
}
/**********/
/* Footer */
/**********/
footer {
  height: 4vh;
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgb(31, 119, 153);
}
footer a {
  text-decoration: none;
  color: black;
}
.footer-link-cont {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.footer-contact-cont,
.footer-github-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1em;
}
.footer-github-cont {
  margin-right: 1em;
}
#github-icon {
  height: 3vh;
  width: 3vh;
  vertical-align: middle;
}
/**********/
/* Errors */
/**********/
.error-cont {
  width: 100%;
  display: flex;
  justify-content: center;
}
.error-list {
  max-width: 75%;
  padding: 0.5em;
  background-color: rgba(255, 0, 0, 0.616);
  border-radius: 10px;
}
.error-list-item {
  color: black;
}
